/* Universal */

body {
    box-sizing: content-box;
    font-size: 20px;
    color: rgb(20, 20, 20);
    background-color: cornflowerblue;
}

.block {
    display: flex;
    flex: 1;
    background-color: aliceblue;
    min-width: 250px;
    max-width: 600px;
    padding: 1em;
    margin: 1em auto;
    line-height: 2em;
    /* debugging border
    border: solid 1px tomato; */
    border-radius: 8px;
}

.input-block,
.output-block {
    flex-direction: column;
    flex-wrap: nowrap;
}

.block-heading {
    font-weight: 900;
}

/* Header */

.title-block {
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
}

.title {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.title-caption {
    text-align: right;
    font-size: 1.25rem;
}

/* Input Section */

.input-block {
    flex-direction: column;
    flex-wrap: nowrap;
}

.input-request {
    font-weight: bold;
}

/* Output Section */

.output-block {
    flex-direction: column;
    flex-wrap: nowrap;
}

.result-image {
    display: block;
    width: 100px;
    margin: 0.5em auto 0.15em;
    border-radius: 8px;
}

/* Footer */

.footer-block {
    font-size: 0.75em;
    text-align: left;
}