/* Universal */

body {
    box-sizing: content-box;
    font-size: 20px;
    color: rgb(20, 20, 20);
    background-color: steelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#hours,
#minutes,
#song-minutes,
#song-seconds {
    display: block;
    width:20%;
}

#song-title,
#artist-name {
    width: 100%;
}

.window,
.window-topbar,
.button-zone {
    display: flex;
}

.window {
    background-color: gainsboro;
    min-width: 250px;
    max-width: 600px;
    margin: 1em auto;
    border: solid 2px darkslategray;
}

.window-content {
    padding: 1em;
    line-height: 2em;
}

.window-topbar {
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 1.5rem;
    background-color: palevioletred;
    border-bottom: solid 2px darkslategray;
}

.topbar-xmark,
.topbar-name {
    padding-top: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.topbar-xmark {
    padding-left: 6px;
    padding-right: 6px;
    color: aliceblue;
}

.topbar-name {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 700;
}

.input-window,
.output-window,
.footer-window {
    flex-direction: column;
    flex-wrap: nowrap;
}

.window-heading {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

/* Header */

.title-window {
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: 600;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.title-caption {
    text-align: right;
    font-size: 2rem;
}

/* Input Section */

.input-window {
    flex-direction: column;
    flex-wrap: nowrap;
}

.amount-input,
.song-input {
    margin-bottom: 1rem;
}

.button-zone {
    justify-content: center;
}

#magic-button {
    border: solid 2px darkslategray;
    background-color: palevioletred;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

#magic-button:active {
    transform: translateY(2px);
}

#magic-button:hover {
    color: aliceblue;
}

/* Output Section */

.output-window {
    flex-direction: column;
    flex-wrap: nowrap;
}

.result-image {
    display: block;
    width: 100px;
    margin: 0.5em auto 0.15em;
    border-radius: 8px;
}

/* Footer */

.footer-window {
    font-size: 0.65em;
    text-align: center;
}

.footer-window .topbar-xmark {
    font-size: 20px;
}